/* large screen size 1070px */

@media(max-width:1100px){
    html{
        font-size: 60%;
    }

    .container{
        padding: 0 60px;
    }

    .img_content{
        padding: 2rem 0;
    }


    #reservation_tbl .form_data{
        width:70%;
    }
}

@media(max-width:960px){
    html{
        font-size: 50%;
    }

    .container{
        padding: 0 40px;
    }

    .btn{
        
        display: block;
    }

    nav{
        flex-direction: column;
       position: fixed;
       min-width: 100%;
       min-height: 60vh;
       top: 0;
       right: 100%;
       background-color: black;
       align-items: flex-start;
       justify-content: center;
       transition: all 0.5s ease-in-out;
    }

    nav.active{
        right:0%;
        transition: all 1s ease-in;
    }

    .navbar nav li{
        margin: 2rem 4rem;
    }

    .navbar nav li a {
        font-size: 1.5rem;
        color: white;
        position:relative;
    }

    .close-btn{
        position: absolute;
        top: 0;
        left: 90%;
        margin: 25px;
    }

    #reservation_tbl .form_data{
        width:80%;
    }

    /* .form_data form input{
            width:100%;
    } */

}

@media(max-width:775px){
    .sp_content{
        grid-template-columns: repeat(1,1fr);
    }

    #reservation_tbl .form_data{
        width:100%;
    }

    .form_data form input{
            width:100%;
    }

    .menu_items_container{
        grid-template-columns: repeat(2,1fr);
    }

    .btn_container .btn-cat{
        margin: 1rem 1rem;
    }

    .customer_cards_container{
        grid-template-columns: repeat(2,1fr);
        /* grid-gap:1.5%; */
        grid-gap:3%;
        margin-left: 4rem;
    }
    .customer_card{
        flex-basis: 45%;
    }
    .events_cards_container{
        margin: 1rem 2rem;
        gap:5%;
    }
    .events_card{
        flex-basis: 45%;
    }
    .event_content p{
        font-size: 1.5rem;

    }

    .counters{
        grid-template-columns: repeat(2,1fr);
    }
    .footer_container{
        grid-template-columns: repeat(2,1fr);
    }
    
     
}

@media(max-width:520px){

    header .logo i{

        font-size: 3rem;
        margin-left: -1rem;

    }

    .logo a{

            font-size: 3rem;
    }

    .menu_items_container{
        grid-template-columns: repeat(1,1fr);
    }
    .customer_cards_container{
        grid-template-columns: repeat(1,1fr);
        grid-gap:6%;
    }
    .customer_card{
        flex-basis: 89%;
    }

    .events_cards_container{
        margin:1rem 6.5rem ;
        gap: 20%;
    }
    .events_card{
        flex-basis: 80%;
    }

    .counters{
        grid-template-columns: repeat(1,1fr);
    }

    .footer_container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media(max-width:426px){
    .events_cards_container{
        margin:1rem 3.7rem ;
        gap: 20%;
    }
    .events_card{
        flex-basis: 80%;
    }
}

